.feynman__link {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 48px;
    top: calc(50% - 50px);
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color: #2f80ed;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .feynman__link:hover {
    opacity: 0.5;
  }